#select {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  border: 1px;
  border-color: rgb(142, 194, 128);
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
}

#h {
  margin-top: 20px;
}

/* #CR {
  margin-top: 20px;
  margin-left: 40px; 
  margin-right: 40%;
} */
